// Background Colors
$bg-color-blue-50: #E3F2FD;
$bg-color-blue-100: #BBDEFB;
// $bg-color-blue-200: #2196F3;
$bg-color-blue-300: #90CAF9;
$bg-color-blue-400: #42A5F5;
$bg-color-blue-500: #2196F3;
$bg-color-blue-600: #0088FF;
$bg-color-blue-700: #1976D2;

$bg-color-yellow-50: #FFF8E1;
$bg-color-yellow-100: #FFECB3;
$bg-color-yellow-400: #FFCA28;
$bg-color-yellow-500: #FFC107;
// $bg-color-yellow-600: #0088FF;
$bg-color-yellow-700: #FFA000;

$bg-color-gray-400: #78909C;
$bg-color-gray-500: #9E9E9E;
$bg-color-gray-600: #757575;

$color-gray-500: #795548;
$color-gray-400: #BDBDBD;

$color-teal-50: #E0F2F1;
$color-teal-200: #80CBC4;
$color-teal-500: #009688;